* {
    box-sizing: border-box;
}

body {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

em {
    font-style: italic;
}

section {
    width: 80%;
    margin: 0 auto;
}

ul {
    margin-left: 40px;
    list-style-position: inside;
}

button {
    padding: 10px;
    margin: 20px;
}

.hidden {
    position: relative;
    left: 100px;
    width: 1px;
    height: 1px;
    z-index: -99;
}

.displayArea {
    font-weight: bold;
    font-size: xx-large;
    padding: 20px;
}

.centered {
    text-align: center;
}

.italic {
    font-style: italic;
}

.halfWidth {
    padding: 0;
    width: 35%;
}

.halfWidth.girl {
    background-color: lightpink;
}

.halfWidth.boy {
    background-color: lightblue;
}

.contentCentered {
    width: 70%;
    display: flex;
}

.textCentered {
    display: inline-block;
    width: 100%;
    text-align: center;
}