body {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

section {
    width: 80%;
    margin: 0 auto;
}

ul {
    margin-left: 40px;
    list-style-position: inside;
}

.displayArea {
    font-weight: bold;
    font-size: xx-large;
    padding: 20px;
}

.centered {
    text-align: center;
}

.italic {
    font-style: italic;
}