* {
    box-sizing: border-box;
}

body {
    font-size: x-large;
}

h1 {
    color: blue;
    font-size: xx-large;
    font-weight: bold;
}

section {
    width: 80%;
    margin: 0 auto;
}

ul {
    margin-left: 40px;
    list-style-position: inside;
}

button {
    padding: 10px;
    margin: 20px;
}

.displayArea {
    font-weight: bold;
    font-size: xx-large;
    padding: 20px;
}

.centered {
    text-align: center;
}

.italic {
    font-style: italic;
}

.halfWidth {
    background-color: lightgray;
    padding: 0;
    width: 40%;
}

.contentCentered {
    width: 50%;
    display: flex;
}